[Unit]
Description=Graphviz Web Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/gvweb
StandardOutput=journal
StandardError=journal
User=nobody
ExecStart=/opt/gvweb/gvweb
Restart=always

[Install]
WantedBy=multi-user.target

