
html, body {
height: 100%;
padding: 0;
margin: 0;
}

body {
background-color: #F6EBCB;
}


#edit {
background: #FFFAEB;
border-color: #8A7843;
border-style: solid;
width: 33%;
min-width: 30em;
display: flex;
flex-direction: column;
}

#banner {
padding: 0%;
margin-top: 0.3em;
padding-bottom: 0.3em;
text-align:center;
overflow:hidden;
}

#editor {
text-align:left;
}

#wrapper {
display: flex;
width: 92%;
height: 100%;
margin-left:auto;
margin-right:auto;
}

h1 {
    margin: 1em;
}

#edit {
width: 30%;
height: 98%;
border-width: 1px;
border-radius: 0.95em;
}

#editor {
height: 100%;
margin-top: 0.5em;
}

#outputwrapper {
margin: 0 1em;;
width: 66%;
display: flex;
flex-direction: column;
}

#error {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
border-color: red;
word-wrap: break-word;
margin-top: 1em;
color: #D8000C;
background-color: #FFBABA;
background-repeat: no-repeat;
background-position: 10px center;
background-image: url('error.png');

}

.hidden {
display: none;
}
a {
text-decoration: none;
color: #8A7843;
}

a:link, a:visited {
color: #8A7843;
}
a:hover {
color: #8A7843;
text-decoration: underline;
}

#submitButton {
background: #FFFAEB;
border-radius:5px;
font-size:16px;
font-weight:700;
padding:4px 16px;
text-shadow:#FE6 0 1px 
text-decoration: none;
outline: none;
}

#submitButton:hover {
background: #8A7843;
text-decoration: none;
}

footer {
text-align: center;
color: gray;
}

